@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Setup */

.main-header h3{
  color: #d3aa7b;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: capitalize;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
} 

.main-header h3::before {
  content: "-";
  color: #d3aa7b;
  font-size: 60px;
  vertical-align: baseline;
  display: inline-block;
  margin-right: 1rem;
  letter-spacing: .2rem;
}

.main-header p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: .1px;
}

.opacity-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .4s ease-in-out;
}

.opacity-layer:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-cutting {
  margin: 8rem 0;
}

.fixed-bg {
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fixed-bg--1 {
  background-image: url("../images/high-reolution/v1.jpg");
}

/* Carousel */

.carousel {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1.5fr;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
  row-gap: 2vh;
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}

.progress-bar__fill {
  width: 0;
  height: inherit;
  background: #c20000;
  transition: all 0.16s;
}

.progress-bar--primary {
  z-index: 2;
}

.main-post-wrapper {
  grid-row: 1/4;
  grid-column: 1/7;
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-post {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.main-post__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.main-post__image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-post__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 13, 14, 0.5);
}

.main-post__content {
  position: absolute;
  top: 40%;
  left: 4%;
  transform: translateY(-40%);
  color: #fff;
  width: 90%;
}

.main-post__tag-wrapper {
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}

.main-post__tag {
  font-size: 0.95em;
  background: #c20000;
  padding: 6px 18px;
}

.main-post__title {
  font-weight: 700;
  font-size: 1.95em;
  line-height: 1.25;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.main-post__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: inline-flex;
  align-items: center;
}

.main-post__link-text {
  font-size: 0.9em;
}

.main-post__link-icon--arrow {
  margin-left: 12px;
}

.main-post__link-icon--play-btn {
  margin-right: 12px;
}

.main-post__link:hover .main-post__link-text,
.main-post__link:hover .main-post__link-icon--arrow path {
  color: #c20000;
  stroke: #c20000;
}

.main-post--active {
  top: 0;
  z-index: 1;
  transition: top 0.9s 0.4s ease-out;
}

.main-post--not-active {
  top: 100%;
  z-index: 0;
  transition: top 0.75s 2s;
}

.main-post.main-post--active .main-post__tag-wrapper {
  width: 25%;
  transition: all 0.98s 1.9s;
}

.main-post.main-post--not-active .main-post__tag-wrapper {
  width: 0;
  transition: width 0.3s 0.2s;
}

.main-post.main-post--active .main-post__title {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
}

.main-post.main-post--not-active .main-post__title {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
}

.main-post.main-post--active .main-post__link {
  opacity: 1;
  transition: opacity 0.9s 2.2s;
}

.main-post.main-post--not-active .main-post__link {
  opacity: 0;
  transition: opacity 0.5s 0.2s;
}

.posts-wrapper {
  grid-row: 3/4;
  grid-column: 3/6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 14px;
       column-gap: 14px;
  z-index: 1;
}

.post {
  background: rgba(14, 13, 14, 0.6);
  opacity: 0.3;
  color: #fff;
  position: relative;
  padding: 16px 20px;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.post__tag {
  color: #80837e;
}

.post__title {
  font-weight: 400;
  font-size: 0.95em;
  line-height: 1.5;
}

.post--active {
  opacity: 1;
  background: rgba(14, 13, 14, 0.75);
}

.post:not(.post--active) {
  pointer-events: none;
}

.hide-on-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-post__title {
    font-size: 2.9em;
  }
}

@media screen and (min-width: 1024px) {
  .hide-on-mobile {
    display: grid;
  }

  .posts-wrapper {
    grid-column: 2/6;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-post__content {
    width: 45%;
  }

  .posts-wrapper {
    grid-column: 3/6;
  }
}

/* Navbar */

.navbar {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    padding-top: 0;
}

.navbar .nav-item .nav-link {
    color: #e9d7d7;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
}

.navbar .nav-item .nav-link:hover {
  color: #d3aa7b;
}

.navbar .ml-auto .nav-item {
  margin-right: 1rem;
}

.navbar .ml-auto .nav-item .dropdown-menu .dropdown-item img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}

.navbar.scrolled .navbar-brand {
  color: #000;
}

.navbar.scrolled .nav-item .nav-link {
  color: #1c1c1c;
  transition: all .3s ease-in-out;
}

.navbar.scrolled .nav-item .nav-link:hover {
  color: #d3aa7b !important;
}

/* Industry */

.industry .industry-card {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.industry .industry-card--1 {
  background-image: url(../images/high-reolution/v1.jpg);
}

.industry .industry-card--2 {
  background-image: url(../images/high-reolution/v2.jpg);
}

.industry .industry-card--3 {
  background-image: url(../images/high-reolution/v3.jpg);
}

.industry .industry-card .card-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.industry .industry-card .card-content h4 {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 6px;
  font-weight: 500;
}

.industry .industry-card .card-content p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}

.nav-pills {
  justify-content: center;
}

.nav-pills .nav-item .nav-link {
  border-radius: 0;
  font-size: 1.3rem;
  background-color: rgba(211, 170, 123, 0.3);
  margin: 0 10px;
  transition: all .3s ease-in-out;
}

.nav-pills .nav-item .nav-link:first-child {
  margin-left: 0;
}

.nav-pills .nav-item .nav-link:hover {
  background-color: rgba(211, 170, 123, 0.8);
  color: #fff;
} 

.nav-pills .nav-item .nav-link.active {
  background-color: rgba(211, 170, 123, 0.8);
}

.feature-products .product-catgories .product-card {
  margin: 2rem 0;
}

.feature-products .product-catgories .product-card .img-container {
  width: 100%;
  height: 230px;
}

.feature-products .product-catgories .product-card .product-content h4 {
  color: #d3aa7b;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.feature-products .product-catgories .product-card .product-content p {
  color: #d0b79a;
  font-size: .8rem;
  letter-spacing: 1.9px;
}

.special-edition {
  position: absolute;
  width: 38%;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.special-edition h4 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.special-edition h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.cap-category {
  position: relative;
  text-align: center;
  padding: 0 2rem;
}

.cap-category::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 1px;
  background-color: #d3c4c4;
}

.cap-category--4::after{
  content: "";
  width: 0px;
}

.cap-category .cap-category--icon {
  font-size: 3rem;
  color: #d3aa7b;
  margin-bottom: 1rem;
}

.cap-category .cap-category--content h4 {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: .3rem;
  font-weight: 500;
}

.cap-category .cap-category--content p {
  font-size: .9rem;
  font-weight: 300;
}

#map {
  height: 100%;
}